NEXT_PUBLIC_API_BASE_URL=https://api.nextjs-demo.ddev.site
NEXT_PUBLIC_TYPO3_BASE_URL=https://api.nextjs-demo.ddev.site
NEXT_PUBLIC_BASE_URL=https://nextjs-demo.ddev.site
NEXT_PUBLIC_SITE_URL=https://nextjs-demo.ddev.site
NEXT_PUBLIC_HOSTNAME=nextjs-demo.ddev.site
NEXT_PUBLIC_FRONTEND_FILE_API=/headless/fileadmin

NEXT_PUBLIC_SKIN=premium
NEXT_PUBLIC_HEADLESS_DEVTOOLS=true

NEXT_PUBLIC_API_SITEMAP_ENDPOINT=/sitemap
NEXT_PUBLIC_REVALIDATE_SECONDS=60
DEFAULT_LOCALE=en
LOCALES=en,de,pl
REVALIDATE_SECRET=change-me
